@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");

body {
  background-color: black;
  font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

/* -----------------------------------------------------
--------------------------------------------------------
HEADER */

header {
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header img {
  width: 113px;
  height: 49px;
  border-radius: 5px;
}

.logo:hover {
  opacity: 90%;
}

header p {
  color: white;
}

header input {
  width: 60%;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e9/Vector_search_icon.png");
  background-size: 20px;
  background-position: 18px 10px;
  background-repeat: no-repeat;
  padding: 12px 0px 12px 60px;
  margin-left: 40px;
  border-radius: 30px;
  border: none;
}

header .button {
  display: flex;
  gap: 15px;
}

header button {
  background-color: red;
  color: white;
  font-weight: bold;
  width: 120px;
  height: 30px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

header button:hover {
  color: violet;
}

/* -----------------------------------------------------
--------------------------------------------------------
HOME*/

.imagefond {
  background-image: url("https://images.alphacoders.com/948/948697.jpg");
  background-size: cover;
}

.content-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
}

.content-home div {
  background-color: white;
  opacity: 50%;
  height: 450px;
  width: 450px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 100px;
}

.content-home .link {
  text-decoration: none;
}

.content-home h1 {
  font-size: 90px;
  font-weight: bold;
  padding: 40px;
}

.content-home h1:hover {
  color: violet;
}

/* -----------------------------------------------------
--------------------------------------------------------
CHARACTERS*/

.character-container {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  margin-top: 50px;
  margin-right: 35px;
}

.character-big-card {
  background-color: black;
  width: 250px;
  height: 300px;
  overflow: scroll;
}

.character-card {
  height: 250px;
  width: 280px;
}

.character-big-card::-webkit-scrollbar {
  display: none;
}

.paginationcharacters {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 60px;
  margin-left: 20px;
  margin-bottom: 20px;
  color: white;
}
.paginationcharacters button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 40px;
}

.paginationcharacters p {
  margin-bottom: 35px;
}

.character-big-card img {
  height: 95%;
  width: 95%;
  object-fit: cover;
  object-position: center;
  position: relative;
}

.character-big-card p {
  color: white;
  line-height: 15px;
  padding-top: 10px;
}

.character-big-card :hover {
  opacity: 90%;
}
.character-info {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 0px 5px;
}

.character-info h1 {
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.character-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
}

/* -----------------------------------------------------
--------------------------------------------------------
COMICS*/

.container {
  max-width: 1200px;
  margin-left: 180px;
}

.comics-container {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
  margin-top: 50px;
}

.comic-big-card {
  background-color: black;
  width: 260px;
  height: 450px;
  overflow: scroll;
}

.comic-card {
  height: 390px;
  width: 260px;
}

.comic-big-card::-webkit-scrollbar {
  display: none;
}

.comic-big-card img {
  height: 85%;
  width: 85%;
  object-fit: cover;
  object-position: center;
  position: relative;
}

.comic-big-card p {
  color: white;
  line-height: 15px;
  padding-top: 10px;
}

.comic-big-card :hover {
  opacity: 90%;
}
.comic-info {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 0px 5px;
}

.comic-info h1 {
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.comic-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
}

.paginationcomics {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 60px;
  margin-left: 20px;
  margin-bottom: 20px;
  color: white;
}
.paginationcomics button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  margin-bottom: 40px;
}

.paginationcomics p {
  margin-bottom: 35px;
}
.display-none {
  display: none;
  padding-left: 100px;
}

.buttonleft {
  font-size: 12px;
  margin-right: 10px;
}
.buttonright {
  font-size: 13px;
  margin-right: 15px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: baseline;
  margin-bottom: 30px;
}

/* -----------------------------------------------------
--------------------------------------------------------
COMICS BY CHARACTERID */

.container {
  max-width: 1200px;
  margin: auto;
  padding: 5px;
  background-color: #050301;
  border-radius: 20px;
}
.comics-container {
  display: flex;
  gap: 40px;
}

.comicsbyperso {
  display: flex;
  gap: 850px;
}

.comicsbyperso .button {
  margin-top: 10px;
}

.comicsbyid-content {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  border-left: #ffc91c solid 5px;
  padding: 10px;
  color: white;
}

.characterPic {
  width: 20%;
}
.characterPic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.carousel {
  background-color: black;
  display: flex;
  width: 100%;
  gap: 20px;
}
.carousel::-webkit-scrollbar {
  display: none;
}

.carousel h1 {
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.carousel img {
  height: 100px;
  width: 180px;
}

/* -----------------------------------------------------
--------------------------------------------------------
SIGN UP */

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url("./img/marvel.jpg");
  background-size: 1800px;
  background-position: top left;
  background-repeat: no-repeat;
  height: 800px;
}
.signup-form {
  display: flex;
  width: 275px;
  margin: auto;
  flex-direction: column;
}
.signup-form > input {
  border: none;
  border-bottom: 1px solid #fcced3;
  height: 35px;
  margin-bottom: 20px;
}

.signup-form input::placeholder {
  color: #cbcccd;
  font-size: 16px;
}

.signup-form input[type="checkbox"] {
  transform: scale(2);
  margin-right: 20px;
}

.checkbox-container {
  margin-top: 20px;
  padding: 10px;
}
.checkbox-container > div {
  display: flex;
}
.checkbox-container > p {
  text-align: left;
  color: #999999;
  font-size: 12px;
}

.checkbox-container span {
  color: #666666;
}

.signup-form button {
  background-color: #5c48d1;
  height: 45px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.signup-form button:hover {
  opacity: 90%;
}

.signup-container a {
  color: #5c48d1;
  font-size: 12px;
}

.signup-login-error-message {
  color: red;
  font-size: 9px;
}
.logoSignup:hover {
  opacity: 90%;
}

/* -----------------------------------------------------
--------------------------------------------------------
Login */

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url("./img/marvel2.jpg");
  background-size: 1800px;
  background-position: top left;
  background-repeat: no-repeat;
  height: 800px;
}

.login-container a {
  color: #5c48d1;
  font-size: 12px;
}

.logoLogin:hover {
  opacity: 90%;
}

/* -----------------------------------------------------
--------------------------------------------------------
CARD */

.heroes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-top: 40px;
}

.hero-images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  min-height: 340px;
}

.heart-plus-icon-characters {
  color: #f9f6e8;
  position: absolute;
  margin-left: -35px;
  background-color: rgba(5, 3, 1, 0.9);
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

.heart-plus-icon {
  color: #f9f6e8;
  position: absolute;
  margin-left: -35px;
  background-color: rgba(5, 3, 1, 0.9);
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

h2 {
  color: white;
  font-size: 10px;
  font-weight: bold;
  font-size: 18px;
}

/* -----------------------------------------------------
--------------------------------------------------------
Favoris */

.fav-images {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.favorites-section {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
}
.favorites-section button {
  background-color: #050301;
  color: #016db5;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  border: none;
}
.fav-container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
  margin-top: 50px;
  align-items: baseline;
}

.fav-div {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 15px;
  align-items: center;
  gap: 10px;
}
.image-container {
  height: 200px;
}
.favorites-section h2 {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.purple {
  border: solid 7px #4d0e33;
}
.blue {
  border: solid 7px #272542;
}

.hero-title {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: #272542 3px solid;
}
.comics-title {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: #4d0e33 3px solid;
}
title {
  display: flex;
  flex-direction: column;
}
.favorites-section h1 {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
  font-size: 30px;
  letter-spacing: 2px;
  font-style: italic;
  color: #f9f6e8;
  padding-bottom: 20px;
  border-bottom: #272542 1px solid;
}
